:root {
	--FolderRadius: 5px;
}

.nav-file-title,
.nav-folder-title {
	border-radius: 0;
}

body:not(.is-grabbing) .nav-folder-title:hover {
	border-radius: 0;
}

body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
	background-color: transparent !important;
}

.nav-folder-collapse-indicator.collapse-icon svg.right-triangle {
	color: currentColor !important;
}

.nav-file-title.is-being-dragged,
.nav-folder-title.is-being-dragged {
	background-color: #8e939349 !important;
}

.nav-folder-title.is-being-dragged-over {
	background-color: transparent !important;
	color: currentColor !important;
	filter: saturate(500%) !important;
}

.CodeMirror-foldgutter-folded,
.is-collapsed .nav-folder-collapse-indicator,
.nav-folder-collapse-indicator {
	color: currentColor !important;
}

.nav-files-container.node-insert-event
	> div
	> .tree-item.nav-folder
	> .tree-item-self.nav-folder-title {
	margin-top: 5px !important;
}

.nav-file-title[class*="is-active"]::before {
	margin-top: 2px;
	width: 22px;
	height: 20px;
}
.nav-files-container.node-insert-event
	> div
	> .tree-item.nav-folder
	> .tree-item-self.nav-folder-title {
	margin-bottom: 0;
}

/*& Set up explorer container margins */

.nav-files-container {
	margin: 0 5px;
}

.nav-folder.mod-root > .nav-folder-children > .nav-folder > .nav-folder-title {
	padding-left: 5px;
	margin-top: 7px;
	/* space between top level sections */
	border-radius: var(--FolderRadius) var(--FolderRadius) 0 0;
}

.nav-folder.mod-root
	> .nav-folder-children
	> .nav-folder.is-collapsed
	> .nav-folder-title {
	border-radius: var(--FolderRadius);
}

.nav-folder.mod-root > .nav-folder-children > .nav-folder > .nav-folder-children {
	padding-left: 0;
	border-radius: 0 0 var(--FolderRadius) var(--FolderRadius);
}

.nav-file-title[class*="is-active"],
.nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
	border-radius: 5px;
}

/** ---- Settings ---- **/

.spf textarea {
	width: 100%;
	height: 300px;
	/*noinspection CssNoGenericFontName*/
	font-family: var(--font-monospace);
}

.spf-warning {
	color: var(--text-error);
}

.spf code {
	/*noinspection CssNoGenericFontName*/
	font-family: var(--font-monospace);
}

.spf .no-border {
	border: none;
}

.spf hr {
	margin: 0;
	--hr-color: var(--background-modifier-border);
	--hr-thickness: 1px;
}
